// Theme Colors
$sky: #1EB4E6 !default;
$blue: #0989E9 !default; //rebranding
$grape: #605dba !default;
$purple: #812DF2 !default; //rebranding
$violet: #D68BD6 !default;
$pink: #FB23C3 !default; //rebranding
$fuchsia: #FAB5FB !default;
$red: #F54F3F !default;
$orange: #FF7A59 !default; //rebranding
$yellow: #F4BA0B !default;
$green: #22c488 !default;
$leaf: #035c5a !default;
$aqua: #77D0FA !default;
$navy: #1D1D3D !default; //rebranding
$ash: #F4F4F4 !default; //rebranding